h1{
    color:blue;
    background-color:rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
    width: 100%;
      
    }
body{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    background-color: brown;
    color: azure;
    display: block;
    text-align: center;
    margin: 20px;
    padding: 30px;

}
img{
    width: 100%
}

